.container{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px 30px 50px;
    margin-top: 15%;
}

 
h1{
    margin-top: 1px;
    margin-bottom: 5%;
    width: 20;
    margin-left: auto;
    margin-right: auto;
    color: rgb(85, 83, 87);
    font-size:calc(1em + 2.5vw);
}

.btnDel{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: rgb(236, 47, 47);
    color: white;
    border: 1px solid black;
}

.btnEdit{
    width: 30px;
    height: 30px;
    background-color: rgb(64, 207, 28);
    color: white;
    border: 1px solid black;
}

.btnEdit:hover{
    background-color: black;
    border: solid 2px rgb(64, 207, 28);
}

.btnDel:hover{
    background-color: black;
    border: solid 2px rgb(236, 47, 47);
}

.btn{
    width: 200px;
    height: 45px;
    border: solid 1px gray;
    /* border-radius: 15px; */
    margin-top: 20px;
    font: black bold;
 }
 .btn:hover{
     border:solid 1px #2e2e2c; 
 }

 .btn_container{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 20vh;
     flex-wrap: 10px;    
 }
 .amount{
    width: 100%;
    justify-content: center;
    text-align: center;
    color: rgb(44, 42, 42);
    font:26px bolder;
    font-family:inherit; 
 }

 .table {
    min-width:  700;
    overflow-x: scroll;
    justify-content: center;
  }