.container{
    display: flex;
    height: 100vh;
    background-color: rgb(217, 227, 235);
}

.form{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs{
    width: 75%;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputContainer{
    display: flex;
    justify-content: space-between;
}

.input{
    padding-left: 15px;
    width: 300px;
    height: 40px;

    font-size: 25px;

    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0px 3px 8px .2px rgb(50, 50, 50);
    box-sizing: border-box;
}

.inputLong{
    width: 100%;
}

.button{
    margin-left: auto;
    margin-right: auto;
    
    width: 100px;
    height: 30px;
    
    padding: 0;

    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 8px .2px rgb(50, 50, 50);
    
    font-size: 16px;
    
    transition: background-color .2s;
}

.button:hover{
    cursor: pointer;
    background-color: rgb(232, 232, 232);
}

.cart{
    width: 40%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.products{
    width: 98%;
    height: 450px;

    padding-top: 10px;

    overflow-y: auto;
}

.product{
    width: 500px;
    height: 60px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;

    background-color: white;
    border: .2px solid lightgray;
    border-radius: 10px;
    box-shadow: 0px 3px 8px .2px rgb(50, 50, 50);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left{
    width: 400px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.cant{
    margin-right: 20px;
}

.img{
    width: 70px;
    margin-right: 20px;
}

.totalPrice{
    width: 98%;
    height: 180px;
}

.totalThings{
    background-color: aqua;
}

.totalText{
    font-size: 60px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.totalNumber{
    font-size: 30px;
    font-weight: normal;
}