@media only screen and (min-width: 320px){
  .container{
      text-transform: uppercase;
      font-family: var(--font-family);
      /* height: 80px; */
      /* background-color: rgb(0, 136, 255); */
      /* position: fixed; */
      /* top:0; */
      /* left:0; */
      /* height: 60px; */
      /* width: 100%; */
      /* z-index: 100%; */
      /* margin-bottom: 20px; */
  }
  .linksss{
    text-decoration: none;
  }

}

@media only screen and (min-width: 1024px){
  /* .right{
      /* display: flex; 
      
      /* padding-left: 5rem; /
  } */
  .hidden{
    visibility: hidden;
    
  }

  .visible{
    visibility: visible;
  }
  .iconS{
  color: gray; 
  font-size: 60px;
  /* margin-bottom: 32px; */
  /* top: 0; */
  
  /* position: absolute; */
	top: 0.9375rem;
	left: 0.875rem;
	line-height: 147.6%;
  /* color: var(--color-lable-text); */
  transition: top .2s;
  
  } 

}