#root{
  padding: 0;
  margin: 0;
  /* padding-top: 60px; */
}

@media (min-width:738px) {
  #root{
    /* padding-top: 10%; */
  }
}


@media (max-width:500px) {
  .nomobile{
    display: none;
  }
}