/* Import de fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.container {
	padding: 0px !important;
	margin-top: 150px;
	margin-bottom: 10%;
	height: 60%;
	width: 80%;
	box-shadow: 0px 0px 5px 3px rgba(221, 220, 220, 1);
	margin-left: 11%;
	border-radius: 4px;

}
.cont_prin {
	width: 100%;
	margin: auto;
	border-bottom: 1px solid #dddcdc;
}
.infog {
	width: 100%;
	padding: 15px;
}
.cont_img {
	height: 400px;
	border-radius: 4px 0px 0px 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cont_img > img {
	width: 20%;
	height: 20%;
	margin-top: 2%;
}
.cont_info {

	border-top: none;
	border-bottom: none;
	font-family: 'Poppins';
	border-right: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 2%;
}

.cont_info h3 {
	color: #243363;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Poppins';
	margin-top: 10px;
}
.cont_info h4 {
	color: #4cced8;
	font-weight: normal;
	font-size: 1.4em;
	font-family: 'Poppins';
	margin-top: 15px;
}
.cont_info h6 {
	color: #243363;
	font-weight: bolder;
	font-size: 0.65em;
	font-family: 'Poppins';
	margin-top: 15px;
}
.cont_info p {
	color: #243363;
	font-weight: normal;
	font-size: 0.8em;
	font-family: 'Poppins';

	margin-right: 5%;
	margin-top: 15px;
	text-align: justify;
}
.cont_info p .dim {
	font-weight: bold;
}
.cont_cant {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin-left: 10%;
}
.cont_cant2{
	width: 400px;
	display: flex;
	justify-content: center;
}
.cont_cant .select {
	width: 40px;
	padding: 5px;
}
.cont_cant label {
	color: #243363;
	font-weight: bold;
	font-size: 0.8em;
	font-family: 'Poppins';
}
.cont_cant h6 {
	color: #243363;
	font-weight: normal;
	font-size: 0.6;
	font-family: 'Poppins';
	margin-left: 5%;
	padding-bottom: 11px;
}
.cont_button {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 15px;
	margin-right: 20px;
}
.buttonCar {
	color: #ef9635 !important;
	background-color: white !important;
	border: 1px solid #ef9635 !important;
	font-family: 'Poppins' !important;
	font-weight: bold !important;
	width: 130px !important;
	height: 40px !important;
	font-size: 15px !important;
	padding-left: 1px !important;
	padding-right: 1px !important;
}
.buttonCom {
	color: white !important;
	background-color: #ef9635 !important;
	border: 1px solid #ef9635 !important;
	font-family: 'Poppins' !important;
	font-weight: bold !important;
	width: 130px !important;
	height: 40px !important;
	font-size: 15px !important;
	padding-left: 1px !important;
	padding-right: 1px !important;
}
.contReviw {
	display: flex;
	align-items: center;
	margin-top: 70px;
}
.contReviw .addReview {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contReviw .addReview p {
	padding-top: 3%;
	padding-left: 1%;
	font-family: 'Poppins';
	font-size: 0.8em;
	color: #4cced8 !important;
	font-weight: bold;
	cursor: pointer;
}
.contReviw p:hover {
	text-decoration-line: underline;
}

.icon {
	width: 50%;
	padding-top: 1%;
	font-size: 1rem;
	position: relative;
}

.icon .emptyStarsCont {
	position: absolute;
	width: 100%;
	top: -500%;
	left: 0%;
	z-index: 1;
	overflow: hidden;
}

.img{
	width: 20%;
	background-color: red;
	height: 40%;
}

.icon .emptyStarsCont .emptyStars {
	width: 500%;
	font-size: 1.5em;
	color: lightgray;
}

.icon .fullStarsRate {
	/* margin-left: -94px; */
	overflow: hidden;
	position: absolute;
	top: -500%;
	left: 0%;
	z-index: 2;
}

.icon .fullStarsRate .fullStars {
	width: 500%;
	font-size: 1.5em;
	/* width: 0%; */
	color: #ef9635;
	font-family: 'Poppins';
}
.cont_cant2 {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-right: 10%;

}

.agotadoProct {
	font-family: 'Poppins' !important;
	/* font-size: 30px !important; */
	color: black !important;
	-webkit-text-stroke: 1px red;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.51);
	font-weight: bold;
}

.productCardOutStock {
	background-color: rgb(247, 7, 7) !important;
}
.attributesContainer{
	height: 600px;
	overflow-y: scroll;
	margin-top: 10%;
	margin-bottom: 10%;
	width: 90%;
	
	
}

@media (max-width: 900px) {

	.container{
		width: 90%;
		margin-left: 5%;
	}
	.attributesContainer{
		height: 600px;
		width: 100%;
		
		
	}
	.cont_cant2{
		flex-direction: column;
	}

	.cont_img{
		width: 100%;
	}

	.img{
		width: 200px;
		background-color: red;
		height: 100%;
	}

}

.attributes{
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-direction: row;
}

.attributesName{
	position: absolute;
	left: 40%;
	font-size: 19px;
	font-family: 'Poppins';
	color:red;
}


th {
	border-bottom: 1px solid black;
	
}

table{
	border: 1px solid #ccc;
	width: 100%;
	
}

tr:nth-child(even) {background-color: #f2f2f2;}

table tbody tr td {
	padding: 10px;

}