.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}


.shipping{
  width: 600px;
  height: 1100px;
  padding: 50px;
  margin: 100px;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}



.line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 300px;
  height: 300px;
}


.imgcontainer{
  height: 200px;
  width: 14px;
}


.img{
  height: 100%;
  width: 100%;
}


.card{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 270px;
  height: 110px;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
  margin-top: 70px;
  padding: 20px;
  border-radius: 40px;
}


.title{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  height: 300px;
}


.title h3{
  margin-bottom: 20px;
}

.title h1{
  margin-bottom: 20px;
}